.Menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.5rem;
    margin-top: 0.5rem;
    z-index: 1000;
}

.Menu_title{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2rem;
}

.Menu_title h1{
    margin-left: 1rem;
    font-size: 40px;
    font-weight: 300;
}

.Menu_title Image{
  width: 70px;
  height: 80px;
}

.Menu_links{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
}

.Menu_links a{
    margin: 1rem;
    color: black;
    text-decoration: none;
    width: 110px;
    height: auto;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
}

.Menu_links a:hover{
    color: #4675f4;
}

.Menu_links a:not(:last-child)::after{
    content : url('../public/rond_bleu.png');
    margin-left : 2.4rem;
    display: inline-block;
}

.Menu_links a:last-child{
    width: 40px;
}
