.Info_skills{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 900px;
    height: auto;
}


h1 span {
    color: #4675f4;
}

.metier{
    margin-top: 7rem;
}

h2{
    font-size: 4rem;
    font-weight: 400;
    margin-top: 6rem;
    margin-left: 2rem;
    text-align: center;
}

.skills p{
    font-size: 2rem;
    font-weight: 400;
    width: 400px;
}

.point{
    width: 200px;
}

@media screen and (max-width: 800px){
    .Info_skills{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .skills{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 300px;
        height: auto;
    }
    
    h1 span {
        color: #4675f4;
    }
    
    .metier{
        margin-top: 7rem;
    }
    
    .Info_skills h2{
        font-size: 1.5rem;
        font-weight: 400;
        margin-top: 2rem;
        margin-left: 0rem;
        text-align: center;
    }
    
    .skills p{
        font-size: 0.6rem;
        font-weight: 400;
        width: 200px;
    }
    
    .point{
        width: 100px;
    }
    
    
}
